[package]
name = "kv_store"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
omnipaxos_core = { path = "../../omnipaxos_core" }
omnipaxos_storage = { path = "../../omnipaxos_storage" }
omnipaxos_macros = { path = "../../omnipaxos_macros", optional = true }
tokio = { version = "1", features = ["rt-multi-thread", "sync", "time", "macros"] }
serde = { version = "1.0", features = ["derive"] }

[features]
derive_entry = ["omnipaxos_macros"]